#!/bin/sh

# Enviroments variables
export TERMINAL="alacritty"
export EDITOR="nvim"
export BROWSER="firefox"

# Wallpaper
feh --bg-fill ~/Pictures/wallpapers/arch-black-4k.png &
~/.screenlayout/layout.sh &

# Composer
picom -b -f
flameshot &
